body {
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
    background-color: #121212;
}

.btns {
    display: flex;
    gap: 15px;
}


button {
    font-family: inherit;
    padding: 15px;
    flex: 1;
    border: none;
    border-radius: 3px;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

.inactive {
    background-color: #CF6679;
}

.active {
    background-color: #03DAC6;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 500px;
    min-width: 500px;
    user-select: none;
    margin-bottom: 25px;
}

.row {
    min-width: 10%;
    min-height: 10%;
}

.pixel {
    min-height: 1%;
    min-width: 1%;
    flex: 1;
}

.gridBorder {
    box-shadow:inset 0px 0px 0px 1px #d5d6d7;
}

.pixel:hover {
    background-color: #d5d6d7;
}

.unpainted {
    background-color: white;
}

.painted {
    background-color: black;
}

#gridSize {
    background-color: #BB86FC;
}