body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.pixel {
    min-height: 4vmin;
    min-width: 4vmin;
    flex: 1;
}

.gridBorder {
    box-shadow:inset 0px 0px 0px 1px #d5d6d7;
}

.pixel:hover {
    background-color: #d5d6d7;
}

.unpainted {
    background-color: white;
}

.painted {
    background-color: black;
}